:root {
    --bg-color-: #004d8e;
    --color-: #00d4e8;
    --border-: 4px solid black;
}
* {transition: all 0.3s ease;}
html {overflow-x: hidden;}
body {overflow: auto; background: var(--bg-color-); color: var(--color-);}
#game {
    margin: auto;
    overflow: hidden;
    background-color: black;
    border: var(--border-);
}
#game nav {width: 100%; height: 10%;}
#game nav a {
    cursor: pointer;
    display: inline-block;
    width: 33.33%;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}
#game nav a:hover {
    color: #004d8e;
    background-color: #00d4e8;
}
#view {background-color: gray;}
.fineprint {font-size: 0.6em; line-height: 2px;}

#scoreboard {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
    z-index: 1;
}
.modal {
    display: none;
    opacity: 0;
    position: absolute;
    z-index:10;
    background: #060606;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
.modal section {
    border-radius: 10px;
    margin: 10px auto;
    width: 95%;
    background: #333;
    padding: 5px;
}
.modal section span {font-weight: bold;}
.modal section h1 {font-size: 2em;}
.modal section p {font-size: 0.8em;}
.closeBtn {
    color: #00d4e8;
    background: #004d8e;
}
.closeBtn > a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 10%;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    color: #00d4e8;
}
.closeBtn:hover {
    background: #00d4e8;
}
.closeBtn:hover a {color: #004d8e;}
.buyBtn {
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    padding: 4px;
    background: #004d8e;
    color: #00d4e8;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bolder;
}
/* .buyBtn:hover {color: #004d8e; background: #00d4e8;} */

@media screen and (min-width: 300px) and (max-width: 1600px) {
    #game {
        width: 300px;
        height: 500px;
    }
    #game nav a {padding: 11px 1px;}
}

@media screen and (min-width: 500px) {
    #game {
        width: 500px;
        height: 700px;
    }
    #game nav a {padding: 21px 1px;}
}

@media screen and (min-width: 700px) {
    #game {
        width: 700px;
        height: 900px;
    }
    #game nav a {padding: 33px 1px;}
}

/* THEME CLASSES */
.mainTheme {background: var(--bg-color-); color: var(--color-)}
.heatwaveTheme {background: #a73500; color: #fa5500}
.heatwaveTheme #game nav a:hover {background: #fa5500; color: #000}
.heatwaveTheme .closeBtn a {color:#fa5500;}
.heatwaveTheme .closeBtn:hover {background: #5c1d00;}
.heatwaveTheme .buyBtn {background: #5c1d00; color: #fa5500}